@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IntegralCF';
  src: url('/fonts/Fontspring-DEMO-integralcf-extrabold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


.no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
  }
   
  .no-visible-scrollbar::-webkit-scrollbar {
    display: none;
  }


  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideOut {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-100%);
    }
  }
  
  .menu-enter {
    animation: slideIn 0.5s ease-out;
  }
  
  .menu-exit {
    animation: slideOut 0.5s ease-in;
  }